* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.header-middle {
  text-align: center;
  max-width: 450px;
}

.header-middle h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #28283d;
  margin-bottom: 24px;
  line-height: 1.1;
}

.header-text p {
  color: #87879d;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-text button {
  border: none;
  padding: 12px 28px;
  margin: 0 6px;
  border-radius: 24px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.header-text button span {
  color: #8fe3f9;
  margin-right: 2px;
}

.header-text .download {
  background-color: #4d96a9;
}

.header-text .download:hover {
  background-color: #71c0d4;
}

.header-text .more {
  background-color: #855fb1;
}

.header-text .more:hover {
  background-color: #b18bdd;
}

.image img {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 30px 0;
}

.line1,
.line2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.line2 {
  position: relative;
  z-index: 1;
}

.vertical-line {
  background-color: rgb(126, 132, 139);
  width: 1px;
  height: 70px;
}

.zero {
  font-weight: 700;
  color: rgb(126, 132, 139);
  background-color: rgb(229, 232, 235);
  padding: 15px;
  border-radius: 50%;
  border: 1px solid rgb(126, 132, 139);
}

main .images {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

main .images img {
  max-width: 800px;
  width: 20%;
  height: auto;
  border-radius: 10px;
}

main .main-texts {
  /* margin: 20px; */
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-header p {
  color: #63a6b7;
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-header h1 {
  margin: 10px 0;
  color: #28283d;
  font-size: 36px;
}

.main-texts .main-paragraph {
  color: #87879d;
  line-height: 1.6;
  margin-top: 20px;
}

footer {
  position: relative;
  width: 100%;
  /* left: 50%;
  margin-left: -50vw; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer .footer-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
  margin-top: -77px;
  background-image: url("assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-color: #2baecf;
  background-blend-mode: multiply;
  color: #ffffff;
}

.footer-left h1 {
  font-size: 36px;
}

.footer-middle {
  max-width: 370px;
  line-height: 1.5;
}

.footer-right button {
  background-color: #855fb1;
  color: #ffffff;
  border: none;
  padding: 12px 28px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.footer-right button:hover {
  background-color: #b18bdd;
}

/* === Responsive Design === */

/* Tablet: 768px and below */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  .header-middle {
    width: 100%;
    order: 2;
  }

  .image {
    width: 45%;
    order: 1;
    border: 1px solid black;
  }
}
